In [46]:
import pandas as pd
import pyreadstat #pyreadstat 불러오기
import matplotlib.pyplot as plt
import seaborn as sns # Seaborn 불러오기

In [47]:
# 데이터 불러오기
file_name = 'Koweps_Codebook_2019.xlsx'
df_welpare_raw, meta = pyreadstat.read_sav('Koweps_hpwc14_2019_beta2.sav')

# 1. 성별에 따른 월급차이 분석

In [48]:
# 데이터프레임의 열 이름 확인
print(df_welpare_raw.columns)

Index(['h14_id', 'h14_ind', 'h14_sn', 'h14_merkey', 'h_new', 'h14_cobf',
       'p14_wsc', 'p14_wsl', 'p14_wgc', 'p14_wgl',
       ...
       'wc14_64', 'wc14_65', 'wc14_5aq4', 'wc14_5aq5', 'wc14_5aq6',
       'h14_pers_income1', 'h14_pers_income2', 'h14_pers_income3',
       'h14_pers_income4', 'h14_pers_income5'],
      dtype='object', length=830)

In [53]:
# 1. 성별에 따른 월급차이 분석

# 성별 빈도를 시각화 (예: countplot)
sns.set(style="whitegrid")
plt.figure(figsize=(8, 6))
sns.countplot(x='h14_pers_sex', data=df_welpare_raw)
plt.title('성별 빈도')
plt.show()

ValueError: Could not interpret input 'h14_pers_sex'

In [ ]:
# 월급 (income) 열의 타입 확인
print(df_welpare_raw['income'].dtype)

In [ ]:
# 월급의 평균값과 중앙값 계산
mean_income = df_welpare_raw['income'].mean()
median_income = df_welpare_raw['income'].median()
print(f'평균 월급: {mean_income}')
print(f'중앙값 월급: {median_income}')

In [ ]:
# 월급 분포 시각화 (예: 히스토그램)
plt.figure(figsize=(10, 6))
sns.histplot(data=df_welpare_raw, x='income', kde=True)
plt.title('월급 분포')
plt.show()

In [ ]:
# 월급의 결측치 수 확인
missing_income = df_welpare_raw['income'].isna().sum()
print(f'월급 결측치 수: {missing_income}')

In [ ]:
# 성별 월급차이 시각화 (예: 박스 플롯)
plt.figure(figsize=(8, 6))
sns.boxplot(x='h14_pers_sex', y='income', data=df_welpare_raw)
plt.title('성별 월급차이')
plt.show()