In [5]:
import pandas as pd

In [6]:
df_car = pd.read_csv("./auto-mpg.csv", header=None)
df_car.columns = ['mpg', 'cylinders', 'displayment', 'horsepower', 'weight', 'acceleration', 'model year', 'origin', 'name']
df_car

,mpg,cylinders,displayment,horsepower,weight,acceleration,model year,origin,name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.00,2790.0,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52.00,2130.0,24.6,82,2,vw pickup
395,32.0,4,135.0,84.00,2295.0,11.6,82,1,dodge rampage
396,28.0,4,120.0,79.00,2625.0,18.6,82,1,ford ranger
397,31.0,4,119.0,82.00,2720.0,19.4,82,1,chevy s-10

In [15]:
df_car.head

<bound method NDFrame.head of       mpg  cylinders  displayment horsepower  weight  acceleration  \
0    18.0          8        307.0      130.0  3504.0          12.0
1    15.0          8        350.0      165.0  3693.0          11.5
2    18.0          8        318.0      150.0  3436.0          11.0
3    16.0          8        304.0      150.0  3433.0          12.0
4    17.0          8        302.0      140.0  3449.0          10.5
..    ...        ...          ...        ...     ...           ...
393  27.0          4        140.0      86.00  2790.0          15.6
394  44.0          4         97.0      52.00  2130.0          24.6
395  32.0          4        135.0      84.00  2295.0          11.6
396  28.0          4        120.0      79.00  2625.0          18.6
397  31.0          4        119.0      82.00  2720.0          19.4

     model year  origin                       name
0            70       1  chevrolet chevelle malibu
1            70       1          buick skylark 320
2            70       1         plymouth satellite
3            70       1              amc rebel sst
4            70       1                ford torino
..          ...     ...                        ...
393          82       1            ford mustang gl
394          82       2                  vw pickup
395          82       1              dodge rampage
396          82       1                ford ranger
397          82       1                 chevy s-10

[398 rows x 9 columns]>

In [17]:
df_car.head(10)

,mpg,cylinders,displayment,horsepower,weight,acceleration,model year,origin,name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino
5,15.0,8,429.0,198.0,4341.0,10.0,70,1,ford galaxie 500
6,14.0,8,454.0,220.0,4354.0,9.0,70,1,chevrolet impala
7,14.0,8,440.0,215.0,4312.0,8.5,70,1,plymouth fury iii
8,14.0,8,455.0,225.0,4425.0,10.0,70,1,pontiac catalina
9,15.0,8,390.0,190.0,3850.0,8.5,70,1,amc ambassador dpl

head는 데이터 앞부분을 볼 수 있다.

tail은 데이터의 뒷부분을 볼 수 있다.

In [18]:
df_car.tail()

,mpg,cylinders,displayment,horsepower,weight,acceleration,model year,origin,name
393,27.0,4,140.0,86.00,2790.0,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52.00,2130.0,24.6,82,2,vw pickup
395,32.0,4,135.0,84.00,2295.0,11.6,82,1,dodge rampage
396,28.0,4,120.0,79.00,2625.0,18.6,82,1,ford ranger
397,31.0,4,119.0,82.00,2720.0,19.4,82,1,chevy s-10

In [19]:
df_car.tail(15)

,mpg,cylinders,displayment,horsepower,weight,acceleration,model year,origin,name
383,38.0,4,91.0,67.00,1965.0,15.0,82,3,honda civic
384,32.0,4,91.0,67.00,1965.0,15.7,82,3,honda civic (auto)
385,38.0,4,91.0,67.00,1995.0,16.2,82,3,datsun 310 gx
386,25.0,6,181.0,110.0,2945.0,16.4,82,1,buick century limited
387,38.0,6,262.0,85.00,3015.0,17.0,82,1,oldsmobile cutlass ciera (diesel)
388,26.0,4,156.0,92.00,2585.0,14.5,82,1,chrysler lebaron medallion
389,22.0,6,232.0,112.0,2835.0,14.7,82,1,ford granada l
390,32.0,4,144.0,96.00,2665.0,13.9,82,3,toyota celica gt
391,36.0,4,135.0,84.00,2370.0,13.0,82,1,dodge charger 2.2
392,27.0,4,151.0,90.00,2950.0,17.3,82,1,chevrolet camaro
393,27.0,4,140.0,86.00,2790.0,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52.00,2130.0,24.6,82,2,vw pickup
395,32.0,4,135.0,84.00,2295.0,11.6,82,1,dodge rampage
396,28.0,4,120.0,79.00,2625.0,18.6,82,1,ford ranger
397,31.0,4,119.0,82.00,2720.0,19.4,82,1,chevy s-10

In [20]:
# 컬럼과 row 개수 출력, 함수가 아닌 속성
df_car.shape

(398, 9)

In [22]:
# 데이터의 뒷부분 출력
df_car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displayment   398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    float64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [16]:
df_car.describe()

,mpg,cylinders,displayment,weight,acceleration,model year,origin
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

### 데이터 개수
count -> row 수 출력
 
DataFrame object -> row 데이터의 고유값 개수

In [24]:
df_car.count()

mpg             398
cylinders       398
displayment     398
horsepower      398
weight          398
acceleration    398
model year      398
origin          398
name            398
dtype: int64

### 집계함수

- 최소, 최대값 함수

- 합계

- 평균과 중간값

- 표준편차와 상관계수

std

In [25]:
df_car['mpg'].sum()

9358.8

위 방식의 코드와 아래방식의 코드를 둘다 사용할 수 있다.

In [26]:
df_car.mpg.max()

46.6

In [27]:
df_car.mpg.min()

9.0

마력에 대한 모든 값을 계산하였을 때

In [28]:
df_car.horsepower.sum()

'130.0165.0150.0150.0140.0198.0220.0215.0225.0190.0170.0160.0150.0225.095.0095.0097.0085.0088.0046.0087.0090.0095.00113.090.00215.0200.0210.0193.088.0090.0095.00?100.0105.0100.088.00100.0165.0175.0153.0150.0180.0170.0175.0110.072.00100.088.0086.0090.0070.0076.0065.0069.0060.0070.0095.0080.0054.0090.0086.00165.0175.0150.0153.0150.0208.0155.0160.0190.097.00150.0130.0140.0150.0112.076.0087.0069.0086.0092.0097.0080.0088.00175.0150.0145.0137.0150.0198.0150.0158.0150.0215.0225.0175.0105.0100.0100.088.0095.0046.00150.0167.0170.0180.0100.088.0072.0094.0090.0085.00107.090.00145.0230.049.0075.0091.00112.0150.0110.0122.0180.095.00?100.0100.067.0080.0065.0075.00100.0110.0105.0140.0150.0150.0140.0150.083.0067.0078.0052.0061.0075.0075.0075.0097.0093.0067.0095.00105.072.0072.00170.0145.0150.0148.0110.0105.0110.095.00110.0110.0129.075.0083.00100.078.0096.0071.0097.0097.0070.0090.0095.0088.0098.00115.053.0086.0081.0092.0079.0083.00140.0150.0120.0152.0100.0105.081.0090.0052.0060.0070.0053.00100.078.00110.095.0071.0070.0075.0072.00102.0150.088.00108.0120.0180.0145.0130.0150.068.0080.0058.0096.0070.00145.0110.0145.0130.0110.0105.0100.098.00180.0170.0190.0149.078.0088.0075.0089.0063.0083.0067.0078.0097.00110.0110.048.0066.0052.0070.0060.00110.0140.0139.0105.095.0085.0088.00100.090.00105.085.00110.0120.0145.0165.0139.0140.068.0095.0097.0075.0095.00105.085.0097.00103.0125.0115.0133.071.0068.00115.085.0088.0090.00110.0130.0129.0138.0135.0155.0142.0125.0150.071.0065.0080.0080.0077.00125.071.0090.0070.0070.0065.0069.0090.00115.0115.090.0076.0060.0070.0065.0090.0088.0090.0090.0078.0090.0075.0092.0075.0065.00105.065.0048.0048.0067.0067.0067.00?67.0062.00132.0100.088.00?72.0084.0084.0092.00110.084.0058.0064.0060.0067.0065.0062.0068.0063.0065.0065.0074.00?75.0075.00100.074.0080.0076.00116.0120.0110.0105.088.0085.0088.0088.0088.0085.0084.0090.0092.00?74.0068.0068.0063.0070.0088.0075.0070.0067.0067.0067.00110.085.0092.00112.096.0084.0090.0086.0052.0084.0079.0082.00'

아래는 평균을 의미한다.

mean() -> 해당 컬럼의 평균값
 
median() -> 해당 컬럼의 평균값

In [29]:
df_car.mpg.mean()

23.514572864321615

In [30]:
df_car.mpg.median()

23.0

이제는 마력에 대해 알아보자 마력에서는 유니크라는 것을 사용하게 되었는데 이것은

In [31]:
df_car.horsepower.unique()

array(['130.0', '165.0', '150.0', '140.0', '198.0', '220.0', '215.0',
       '225.0', '190.0', '170.0', '160.0', '95.00', '97.00', '85.00',
       '88.00', '46.00', '87.00', '90.00', '113.0', '200.0', '210.0',
       '193.0', '?', '100.0', '105.0', '175.0', '153.0', '180.0', '110.0',
       '72.00', '86.00', '70.00', '76.00', '65.00', '69.00', '60.00',
       '80.00', '54.00', '208.0', '155.0', '112.0', '92.00', '145.0',
       '137.0', '158.0', '167.0', '94.00', '107.0', '230.0', '49.00',
       '75.00', '91.00', '122.0', '67.00', '83.00', '78.00', '52.00',
       '61.00', '93.00', '148.0', '129.0', '96.00', '71.00', '98.00',
       '115.0', '53.00', '81.00', '79.00', '120.0', '152.0', '102.0',
       '108.0', '68.00', '58.00', '149.0', '89.00', '63.00', '48.00',
       '66.00', '139.0', '103.0', '125.0', '133.0', '138.0', '135.0',
       '142.0', '77.00', '62.00', '132.0', '84.00', '64.00', '74.00',
       '116.0', '82.00'], dtype=object)

In [38]:
df_car2 = df_car.copy()

In [40]:
mask = df_car2['horsepower'] == '?'
df_car2.loc[mask] = 0

df_car2.replace({'horsepower':'?'}, 0)

,mpg,cylinders,displayment,horsepower,weight,acceleration,model year,origin,name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.00,2790.0,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52.00,2130.0,24.6,82,2,vw pickup
395,32.0,4,135.0,84.00,2295.0,11.6,82,1,dodge rampage
396,28.0,4,120.0,79.00,2625.0,18.6,82,1,ford ranger
397,31.0,4,119.0,82.00,2720.0,19.4,82,1,chevy s-10

LPG

In [42]:
print(df_car.mpg.max())
print(df_car.mpg.min())

print(df_car.weight.max())
print(df_car.weight.min())

46.6
9.0
5140.0
1613.0

### 표준편차와 상관계수

std()  해당 컬럼의 표준편차

corr()  DataFrame 또는 두 컬럼의 상관계수

In [44]:
print(df_car.mpg.std())

print(df_car.weight.std())

7.815984312565782
846.8417741973271

In [47]:
df_car2.corr()

,mpg,cylinders,displayment,weight,acceleration,model year,origin
mpg,1.000000,-0.551501,-0.659169,-0.579852,0.523707,0.522072,0.596539
cylinders,-0.551501,1.000000,0.944007,0.911968,-0.177095,0.223326,-0.428751
displayment,-0.659169,0.944007,1.000000,0.923429,-0.309063,0.074858,-0.530394
weight,-0.579852,0.911968,0.923429,1.000000,-0.089374,0.264030,-0.429746
acceleration,0.523707,-0.177095,-0.309063,-0.089374,1.000000,0.617202,0.303234
model year,0.522072,0.223326,0.074858,0.264030,0.617202,1.000000,0.282372
origin,0.596539,-0.428751,-0.530394,-0.429746,0.303234,0.282372,1.000000

가속력과 연비는 상관이 없다는 표를 보여주게 된다.

In [46]:
df_car.corr()
df_car[['mpg','weight']].corr()

             mpg    weight
mpg     1.000000 -0.831741
weight -0.831741  1.000000

조건을 넣어 결과 값을 추출 해내어 데이터의 값을 확인할 수 있다.

## Pandas 그래프 도구