## 외부데이터 CSV

In [3]:
import pandas as pd

In [4]:
df_pop202309 = pd.read_csv('population202309.csv')
# 구분자 사용
# df_pop202309 = pd.read_csv('population202309.csv', sep = '|')
df_pop202309

       행정구역        총인구수         세대수  세대당인구       남자인구수       여자인구수
0        전국  51,370,001  23,900,917   2.15  25,592,335  25,777,666
1     서울특별시   9,407,540   4,475,726   2.10   4,552,501   4,855,039
2     부산광역시   3,300,836   1,565,115   2.11   1,609,650   1,691,186
3     대구광역시   2,377,801   1,092,536   2.18   1,168,679   1,209,122
4     인천광역시   2,987,918   1,344,029   2.22   1,494,725   1,493,193
5     광주광역시   1,422,999     656,061   2.17     702,748     720,251
6     대전광역시   1,444,595     680,653   2.12     720,520     724,075
7     울산광역시   1,104,167     489,298   2.26     567,314     536,853
8   세종특별자치시     385,932     160,479   2.40     192,246     193,686
9       경기도  13,626,339   5,969,573   2.28   6,855,626   6,770,713
10  강원특별자치도   1,530,712     760,903   2.01     770,130     760,582
11     충청북도   1,594,326     779,770   2.04     810,835     783,491
12     충청남도   2,127,630   1,032,336   2.06   1,089,884   1,037,746
13     전라북도   1,758,661     861,647   2.04     875,353     883,308
14     전라남도   1,807,295     912,090   1.98     910,810     896,485
15     경상북도   2,559,924   1,282,575   2.00   1,292,868   1,267,056
16     경상남도   3,257,009   1,524,861   2.14   1,639,932   1,617,077
17  제주특별자치도     676,317     313,265   2.16     338,514     337,803

In [5]:
df_pop202309.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   행정구역    18 non-null     object
 1   총인구수    18 non-null     object
 2   세대수     18 non-null     object
 3   세대당인구   18 non-null     float64
 4   남자인구수   18 non-null     object
 5   여자인구수   18 non-null     object
dtypes: float64(1), object(5)
memory usage: 992.0+ bytes

데이터의 열 관련 데이터가 무엇이 있는지 알아볼 수 있다.

### Excel

In [ ]:
df_titanic = pd.read_excel('titanic.xls')
df_titanic.info()

예를 들어 각 컬럼을 다 분리하여 각각의 데이터를 받아보자.

In [17]:
df_pop202309['행정구역']

0          전국
1       서울특별시
2       부산광역시
3       대구광역시
4       인천광역시
5       광주광역시
6       대전광역시
7       울산광역시
8     세종특별자치시
9         경기도
10    강원특별자치도
11       충청북도
12       충청남도
13       전라북도
14       전라남도
15       경상북도
16       경상남도
17    제주특별자치도
Name: 행정구역, dtype: object

In [16]:
df_pop202309['총인구수']

0     51,370,001
1      9,407,540
2      3,300,836
3      2,377,801
4      2,987,918
5      1,422,999
6      1,444,595
7      1,104,167
8        385,932
9     13,626,339
10     1,530,712
11     1,594,326
12     2,127,630
13     1,758,661
14     1,807,295
15     2,559,924
16     3,257,009
17       676,317
Name: 총인구수, dtype: object

In [19]:
df_pop202309['세대수']

0     23,900,917
1      4,475,726
2      1,565,115
3      1,092,536
4      1,344,029
5        656,061
6        680,653
7        489,298
8        160,479
9      5,969,573
10       760,903
11       779,770
12     1,032,336
13       861,647
14       912,090
15     1,282,575
16     1,524,861
17       313,265
Name: 세대수, dtype: object

In [20]:
df_pop202309['세대당인구']

0     2.15
1     2.10
2     2.11
3     2.18
4     2.22
5     2.17
6     2.12
7     2.26
8     2.40
9     2.28
10    2.01
11    2.04
12    2.06
13    2.04
14    1.98
15    2.00
16    2.14
17    2.16
Name: 세대당인구, dtype: float64

In [22]:
df_pop202309['남자인구수']

0     25,592,335
1      4,552,501
2      1,609,650
3      1,168,679
4      1,494,725
5        702,748
6        720,520
7        567,314
8        192,246
9      6,855,626
10       770,130
11       810,835
12     1,089,884
13       875,353
14       910,810
15     1,292,868
16     1,639,932
17       338,514
Name: 남자인구수, dtype: object

In [23]:
df_pop202309['여자인구수']

0     25,777,666
1      4,855,039
2      1,691,186
3      1,209,122
4      1,493,193
5        720,251
6        724,075
7        536,853
8        193,686
9      6,770,713
10       760,582
11       783,491
12     1,037,746
13       883,308
14       896,485
15     1,267,056
16     1,617,077
17       337,803
Name: 여자인구수, dtype: object

이렇게 각각의 컬럼의 데이터를 분리하여 데이터를 뽑아낼 수 있다.

데이터 타입의 변환을 시도해보자. 아래와 같다.

In [37]:
female_population = df_pop202309['여자인구수']
print(female_population)

0     25,777,666
1      4,855,039
2      1,691,186
3      1,209,122
4      1,493,193
5        720,251
6        724,075
7        536,853
8        193,686
9      6,770,713
10       760,582
11       783,491
12     1,037,746
13       883,308
14       896,485
15     1,267,056
16     1,617,077
17       337,803
Name: 여자인구수, dtype: object

### Json

In [ ]:
df_json = pd.read_json('json_sample.json')
df_json

### HTML Page의 Table

In [4]:
boxoffices = pd.read_html('https://movie.datamotion.co.kr/Boxoffice')
df_boxoffice = boxoffices[1]
df_boxoffice

NameError: name 'pd' is not defined

## 데이터 저장

### CSV로 저장

In [ ]:
df_boxoffice.to_csv('boxoffice.csv')

### JSON 저장

In [ ]:
df_boxoffice.to_json('boxoffice.json', orient='records', indent=4, force_ascii=False)

### Excel 저장

In [ ]:
df_boxoffice.to_excel('boxoffice.xlsx')

### HTML 저장

In [ ]:
df_boxoffice.to_html('boxoffice.html')

### Markdown 저장

In [ ]:
df_boxoffice.to_markdown('boxoffice.md')