In [19]:
import pandas as pd

In [20]:
list = ['2023-12-30', 3.14, 'Celine', True]
series = pd.Series(list)

데이터 프레임에서 Celine에서는 row

In [21]:
tuple = ('2023-10-20', 3.14, 'Celine', True)
series = pd.Series(tuple)
series[1]

3.14

여기서 튜플로 리스트 형식처럼 작성하였고 시리즈 0 , 1 이렇게 작성하여 출력을 하면 날짜와 3.14가 나오게 된다.

In [22]:
tuple = ('Celine', '2023-10-20', 'female', True)
series = pd.Series(tuple)
series.index = {'name','birthday','gender','isStudent'}
series[0]

'Celine'

이렇게 이름 생일 성별 학생유무를 확인 할 수 있고 배열의 넘버에 따라 결과 출력이 나오게 된다.

In [23]:
dict = {'name':'Celine', 'birthday': '1976-10-28', 'gender': 'female', 'isStudent': True}
series = pd.Series(dict)
series

name             Celine
birthday     1976-10-28
gender           female
isStudent          True
dtype: object

이렇게 전체적인 출력을 할 수 있다.

In [24]:
series[0:3]

name            Celine
birthday    1976-10-28
gender          female
dtype: object

이렇게 작성하여 출력도 할 수 있다.

In [25]:
series.values

array(['Celine', '1976-10-28', 'female', True], dtype=object)

이러한 데이터 인덱스를 출력하여 데이터의 값을 알 수 있게 된다.

# DataFrame

In [26]:
# 데이터 프레임 만들기
df = pd.DataFrame([
    #리스트 만들기(행 데이터를 열로 만들기)
    ['Celine','France', 90, 100, 100],
    ['James', 'UK', 80, 40, 30],
    ['Jason','USA',80, 40, 60],
    ['Hans','Germany', 60, 50, 90]
])

In [27]:
df.iloc[0]

0    Celine
1    France
2        90
3       100
4       100
Name: 0, dtype: object

iloc는 세로를 보여준다.

In [28]:
df.iloc[1]

0    James
1       UK
2       80
3       40
4       30
Name: 1, dtype: object

### DataFrame 생성 (List + columns + index)

- name을 index로 지정

In [29]:
df = pd.DataFrame([
    ['France', 90, 100, 100],
    ['UK', 80, 40, 30],
    ['USA',80, 40, 60],
    ['Germany', 60, 50, 90]],
    columns = ['nation', 'english', 'math', 'science'],
    index = ['celine', 'James','Jason','Hans']
)

### DataFrame 생성(Dictionary)

- dictonary 사용
    - column 이름 지정

In [30]:
df_pop = pd.DataFrame({
    '행정구역' : ['서울특별시','부산광역시','대구광역시','인천광역시','광주광역시','대전광역시','울산광역시','세종특별자치시','경기도','강원특별자치도','충청북도','충청남도','전라북도','전라남도','경상북도','경상남도','제주특별자치도'],
    '총인구수':['9,407,540','3,300,836','2,377,801','2,987,918','1,422,999','1,444,595','1,104,167','38,5932','13,626,339','1,530,712','1,594,326','2,127,630','1,758,661','1,807,295','2,559,924','3,257,009','676,317'],
    '세대수':['4475726','1565115','1092536','1344029','656061','680653','489298','160479','5969573','760903','779770','1032336','861647','912090','1282575','1524861','313265'],
    '세대당인구':['2.10','2.11','2.18','2.22','2.17','2.12','2.26','2.40','2.28','2.01','2.04','2.06','2.04','1.98','2.00','2.14','2.16'],
    '남자인구수':['4552501','1609650','1168679','1494725','702748','720520','567314','192246','6855626','770130','810835','1089884','875353','910810','1292868','1639932','338514'],
    '여자인구수':['4855039','1691186','1209122','1493193','720251','724075','536853','193686','6770713','760582','783491','1037746','883308','896485','1267056','1617077','337803']
})

In [33]:
df = pd.DataFrame({
    'nation':   ['France','UK','USA','Germany'],
    'english':  [90,80,80,60],
    'math':     [100,40,40,50],
    'science':  [100,30,60,90]
})
df.index = ['Celine','James','Jason','Hans']

In [38]:
df_pop(columns=[1])

TypeError: 'DataFrame' object is not callable

In [ ]:
df_pop(columns={'행정구역':'district'})

In [ ]:
df_pop.rename(columns={'헹정구역':'district'}, implace=True)

In [ ]:
df_pop.rename(columns={'행정구역':'district','총인구수':'population'})

In [39]:
df_pop.info() # population 정보 전부를 보여준다.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   행정구역    17 non-null     object
 1   총인구수    17 non-null     object
 2   세대수     17 non-null     object
 3   세대당인구   17 non-null     object
 4   남자인구수   17 non-null     object
 5   여자인구수   17 non-null     object
dtypes: object(6)
memory usage: 944.0+ bytes

In [ ]:
df_pop.index = df_pop.district.to_list() # 방법 1

In [ ]:
df_pop.index = df_pop['district'] # 방법 2

In [ ]:
df_pop.drop(columns=['district'], implace=True)
df_pop
# axis > 0 = column 삭제

In [ ]:
df.name

In [ ]:
df['name','nation']

In [ ]:
type(df[['name','nation']])

2개 이상 컬럼을 가져오고 싶다면 위와 같이 작성을 하면 된다.

In [ ]:
df.iloc[1]

정수형이 아닌 문자열로 가져오려고 하면 아래처럼 작성

In [ ]:
df.iloc['Celine']

In [ ]:
df.iloc[0,'Celine']

In [ ]:
df.iloc[0,0]

In [ ]:
df_pop['male_ratio'] = round(df_pop.male / df_pop.population, 4) * 100
df_pop

## column, row 위치바꿈

In [40]:
df_pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   행정구역    17 non-null     object
 1   총인구수    17 non-null     object
 2   세대수     17 non-null     object
 3   세대당인구   17 non-null     object
 4   남자인구수   17 non-null     object
 5   여자인구수   17 non-null     object
dtypes: object(6)
memory usage: 944.0+ bytes

# Series 산술 연산

In [41]:
student1 = pd.Series({'국어' : 100, '영어' : 80, '수학' : 90})

In [43]:
percentage = student1 / 200

In [44]:
student2 = pd.Series({'수학' : 100, '국어' : 80, '영어' : 90})
total = student1 + student2

In [45]:
df = pd.DataFrame({
    'nation':   ['France','UK','USA','Germany'],
    'english':  [90,80,80,60],
    'math':     [100,40,40,50],
    'science':  [100,30,60,90]
})
df.index = ['Celine','James','Jason','Hans']

In [ ]:
df2 = df[['english', 'math', 'science']] + 100
df3 = df + df2
df3